@import 'colour.scss';
// @import 'background.scss' ;
@import 'input.scss';
@import 'label.scss';
@import 'textarea.scss';
@import 'table.scss';



 body{
   background-image: url(../../assets/puppy_cry.gif);
}


#getForm{
  width: 400px;
  text-align: center;
  align-items: center;
  height: 0px;
  position: relative;


}
.answerTable{
  @include table
}